<chart>
id=131913779819451854
comment=Hello Sailor
symbol=AUDCHF#
period=60
leftpos=1625
digits=5
scale=8
graph=1
fore=0
grid=0
volume=0
scroll=1
shift=1
ohlc=1
one_click=0
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=78
window_top=78
window_right=1067
window_bottom=362
window_type=3
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=17919
bullcandle_color=65280
bearcandle_color=255
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
<object>
type=1
object_name=PivotLine
period_flags=0
create_time=1547246752
color=16711935
style=1
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.703537
</object>
<object>
type=21
object_name=PivotLabel
period_flags=0
create_time=1547246752
description=Daily Pivot
color=16711935
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.703537
</object>
<object>
type=1
object_name=R1_Line
period_flags=0
create_time=1547246752
color=255
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.711333
</object>
<object>
type=21
object_name=R1_Label
period_flags=0
create_time=1547246752
description=Daily R1
color=255
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.711333
</object>
<object>
type=1
object_name=R2_Line
period_flags=0
create_time=1547246752
color=255
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.715527
</object>
<object>
type=21
object_name=R2_Label
period_flags=0
create_time=1547246752
description=Daily R2
color=255
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.715527
</object>
<object>
type=1
object_name=R3_Line
period_flags=0
create_time=1547246752
color=255
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.723323
</object>
<object>
type=21
object_name=R3_Label
period_flags=0
create_time=1547246752
description=Daily R3
color=255
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.723323
</object>
<object>
type=1
object_name=S1_Line
period_flags=0
create_time=1547246752
color=3329330
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.699343
</object>
<object>
type=21
object_name=S1_Label
period_flags=0
create_time=1547246752
description=Daily S1
color=3329330
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.699343
</object>
<object>
type=1
object_name=S2_Line
period_flags=0
create_time=1547246752
color=3329330
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.691547
</object>
<object>
type=21
object_name=S2_Label
period_flags=0
create_time=1547246752
description=Daily S2
color=3329330
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.691547
</object>
<object>
type=1
object_name=S3_Line
period_flags=0
create_time=1547246752
color=3329330
style=4
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=0.687353
</object>
<object>
type=21
object_name=S3_Label
period_flags=0
create_time=1547246752
description=Daily S3
color=3329330
font=Arial
fontsize=8
angle=0
anchor_pos=7
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1547175600
value_0=0.687353
</object>
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=0
apply=2
color=65280
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=0
apply=3
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=Market\Automatic Pivot
flags=339
window_num=0
<inputs>
Use_Sunday_Data=true
Daily=true
Daily_SR_Levels=true
Weekly=false
Weekly_SR_Levels=false
Monthly=false
Monthly_SR_Levels=false
</inputs>
</expert>
shift_0=0
draw_0=0
color_0=16777215
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=Mr-Shay2019
flags=339
window_num=0
</expert>
shift_0=0
draw_0=3
color_0=16748574
style_0=0
weight_0=4
arrow_0=221
shift_1=0
draw_1=3
color_1=16711935
style_1=0
weight_1=4
arrow_1=222
period_flags=0
show_data=1
</indicator>
</window>
</chart>

